<?xml version="1.0" encoding="utf-8"?>
<!--
Resolver Activity Tweaks - Xposed module to tweak the Android
Resolver Activity
Copyright (C) 2015-2019 Philippe Troin (F-i-f on Github)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fifsource.android.resolveractivitytweaks"
    tools:ignore="GoogleAppIndexingWarning">

    <application
        android:allowBackup="true"
        tools:ignore="UnusedAttribute"
        android:fullBackupContent="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description" />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />

        <activity
            android:name=".RATSettings"
            android:label="@string/title_activity_rat_settings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".RATSettingsAlias"
            android:targetActivity=".RATSettings"
            android:label="@string/title_activity_rat_settings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name=".RATRemotePreferences"
            android:authorities="com.fifsource.android.resolveractivitytweaks.preferences"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />

    </application>

</manifest>
